.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}

.border {
    width: 80%;
    height: 80%;
    border: 3px solid black;
    position: relative;
    --angle: 0deg;
    border-image: linear-gradient(
            var(--angle),
            rgba(52, 89, 149, 1) 0%,
            rgba(52, 89, 149, 1) 31%,
            rgba(26, 162, 190, 1)
        )
        1;
    animation: 5s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    font-family: Arial, sans-serif;
}

.nav-left,
.nav-right {
    position: absolute;
    top: 20px;
}

div > button {
    color: black;
    text-decoration: none;
}

.nav-left {
    left: 20px;
}

.nav-right {
    right: 20px;
}

.nav-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.nav-button:hover {
    text-decoration: underline;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title-container h1 {
    font-size: 3rem;
    text-align: center;
}

.dynamic-word {
    font-weight: bold;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    .nav-left,
    .nav-right {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    .title-container h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 384px) {
    .title-container h1 {
        font-size: 1.5rem;
    }

    .nav-left,
    .nav-right {
        top: 30px;
    }

    .nav-left {
        left: 0;
    }

    .nav-right {
        right: 0;
    }
}
